Node-RED/ncd-ui-sensor-monitor.json
[{"id":"224af552ea650cb9","type":"subflow","name":"UI Monitor","info":"","category":"NCD","in":[{"x":60,"y":120,"wires":[{"id":"206a053497bb7127"}]}],"out":[],"env":[],"meta":{},"color":"#A6BBCF","icon":"font-awesome/fa-table"},{"id":"f2cb8d2992f8a4e9","type":"ui-table","z":"224af552ea650cb9","group":"d2959da35ca25cf6","name":"ncd-table","label":"text","order":1,"width":"0","height":0,"maxrows":0,"passthru":false,"autocols":false,"showSearch":true,"selectionType":"none","columns":[{"title":"Count","key":"count","type":"text","width":"","align":"center"},{"title":"Address","key":"mac","type":"text","width":"","align":"center"},{"title":"Type","key":"type","type":"text","width":"1%","align":"center"},{"title":"Mode","key":"mode","type":"text","width":"","align":"center"},{"title":"Battery","key":"battery_p","type":"text","width":"","align":"center"},{"title":"RSSI","key":"rssi","type":"text","width":"","align":"center"},{"title":"Date","key":"date","type":"text","width":"","align":"center"},{"title":"Last Heard","key":"last_heard","type":"text","width":"","align":"center"},{"title":"","key":"button","type":"button","width":"","align":"center"}],"mobileBreakpoint":"","mobileBreakpointType":"none","action":"replace","x":780,"y":100,"wires":[["8aba648e76c39c33"]]},{"id":"c77f9c0d13f24c6b","type":"ui-button","z":"224af552ea650cb9","group":"d2959da35ca25cf6","name":"ncd-clear-button","label":"Clear","order":2,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","x":440,"y":80,"wires":[["d68b19e6b89f76ce"]]},{"id":"af99ebdccf5e5ce4","type":"change","z":"224af552ea650cb9","name":"ncd-date-time","rules":[{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"time","pt":"msg","to":"$moment(date).format(\"HH:mm:ss\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY/MM/DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["d68b19e6b89f76ce"]]},{"id":"2d9c27fd13197f02","type":"ui-notification","z":"224af552ea650cb9","ui":"0ee9ba68ec550cf9","position":"top center","colorDefault":true,"color":"#000000","displayTime":"200","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Close","allowConfirm":false,"confirmText":"Confirm","raw":false,"className":"","name":"ncd-popup-sensor-data","x":1050,"y":140,"wires":[[]]},{"id":"8aba648e76c39c33","type":"function","z":"224af552ea650cb9","name":"ncd-show-sensor-data","func":"let type = msg.payload.type;\nlet count = flow.get(\"countMac\");\n\nfor (let index = 0; index < count; index++) {\n    let saved_type = flow.get(\"ncdSensor\")[index][1];\n    if(type == saved_type){\n        msg.payload = flow.get(\"ncdSensor\")[index][8]\n        if(msg.payload == undefined){\n            msg.payload = \"No sensor data was found!\";\n        }\n        return msg;\n    }\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":140,"wires":[["2d9c27fd13197f02"]]},{"id":"206a053497bb7127","type":"switch","z":"224af552ea650cb9","name":"ncd-filter-error-connection","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":230,"y":120,"wires":[["af99ebdccf5e5ce4"]]},{"id":"d68b19e6b89f76ce","type":"function","z":"224af552ea650cb9","name":"ncd-sensors-list","func":"if (msg.payload.length === 0) // if clear msg\n{ \n    flow.set('countMac', undefined);\n    flow.set('ncdSensor', undefined);\n    return msg;\n}\nelse{\n    if(msg.topic != \"modem_mac\") // filter modem_mac mode\n    {\n        const mac = 0;\n        let date = msg.date;\n        let time = msg.time;\n        let count = flow.get(\"countMac\") || 0;\n        let sensorType;\n        let mode;\n        let rssi;\n        let newMac;\n        let battery;\n        let counter;\n        let sensor_data;\n        let flag = true;\n\n        if(msg.payload.hasOwnProperty('mac')){\n            newMac = msg.payload.mac.substring(12);\n            mode = msg.payload.mode;\n            sensorType = msg.payload.type;\n            rssi = msg.payload.rssi;\n        }\n        else {\n            newMac = msg.payload.addr.substring(12);\n            mode = msg.topic;\n            sensorType = msg.payload.sensor_type;\n            rssi = msg.payload.rssi;\n            battery = msg.payload.battery_percent;\n            counter = msg.payload.counter;\n            sensor_data = msg.payload.sensor_data;\n        }\n\n        for (let index = 0; index < count; index++) {\n            let oldMac = flow.get(\"ncdSensor[\"+index+\"]\")[mac]; \n            if (oldMac == newMac) // already exist\n            {\n                flow.set(\"ncdSensor[\" + index + \"]\", [newMac, sensorType, mode, battery, rssi, date, time, counter, sensor_data]); \n                flag = false;\n            }\n        }\n        if(flag){\n            // is new sensor\n            flow.set(\"ncdSensor[\" + count + \"]\", [newMac, sensorType, mode, battery, rssi, date, time, counter, sensor_data]); \n            count++;\n            flow.set(\"countMac\", count);\n        }\n\n        let inputArray = flow.get(\"ncdSensor\");\n        const outputArray = inputArray.map(item => {\n            return {\n                \"button\": \"Inspect\",\n                \"mac\": item[0],\n                \"type\": item[1],\n                \"mode\": item[2],\n                \"battery_p\": item[3] == undefined? \"-\" : item[3] + \"%\",\n                \"rssi\": \"-\" + item[4] + \" dBm\",\n                \"date\": item[5],\n                \"last_heard\": item[6],\n                \"count\": item[7] == undefined? \"-\" : item[7]\n            };\n        });\n        msg = {};\n        msg.payload = outputArray;\n        return msg;\n    }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":100,"wires":[["f2cb8d2992f8a4e9"]],"icon":"font-awesome/fa-database"},{"id":"d2959da35ca25cf6","type":"ui-group","name":"NCD Enterprise Sensors","page":"625fe807f41c2dab","width":"8","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"0ee9ba68ec550cf9","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"temporary","titleBarStyle":"default"},{"id":"625fe807f41c2dab","type":"ui-page","name":"NCD - UI Monitor Sensor ","ui":"0ee9ba68ec550cf9","path":"/ncd-ui-monitor","icon":"home","layout":"grid","theme":"cd5fce5c2f030fc2","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"cd5fce5c2f030fc2","type":"ui-theme","name":"ncd-theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"53cfb0ebf8f04168","type":"subflow:224af552ea650cb9","z":"c3746b495f5f41e0","name":"","x":630,"y":300,"wires":[]}]
