Node-RED/ncd-ui-sensor-monitor.json
[{"id":"224af552ea650cb9","type":"subflow","name":"UI Table","info":"","category":"NCD","in":[{"x":60,"y":120,"wires":[{"id":"af99ebdccf5e5ce4"}]}],"out":[],"env":[],"meta":{},"color":"#A6BBCF","icon":"font-awesome/fa-table"},{"id":"f2cb8d2992f8a4e9","type":"ui-table","z":"224af552ea650cb9","group":"d2959da35ca25cf6","name":"ncd-table","label":"text","order":1,"width":0,"height":0,"maxrows":0,"passthru":false,"autocols":true,"showSearch":true,"selectionType":"none","columns":[],"mobileBreakpoint":"","mobileBreakpointType":"none","action":"replace","x":540,"y":120,"wires":[[]]},{"id":"9261c175e6dc9e17","type":"function","z":"224af552ea650cb9","name":"ncd-sensors-list","func":"if (msg.payload.length === 0) // if clear msg\n{ \n    flow.set('countMac', undefined);\n    flow.set('ncdSensor', undefined);\n    return msg;\n}\nelse{\n    if(msg.topic != \"modem_mac\") // filter modem_mac mode\n    {\n        const mac = 0;\n        let date = msg.date;\n        let time = msg.time;\n        let count = flow.get(\"countMac\") || 0;\n        let sensorType;\n        let mode;\n        let rssi;\n        let newMac;\n        let flag = true;\n\n        if(msg.payload.hasOwnProperty('mac')){\n            newMac = msg.payload.mac;\n            mode = msg.payload.mode;\n            sensorType = msg.payload.type;\n            rssi = msg.payload.rssi;\n        }\n        else {\n            newMac = msg.payload.addr;\n            mode = msg.topic;\n            sensorType = msg.payload.sensor_type;\n            rssi = msg.payload.rssi;\n        }\n\n        for (let index = 0; index < count; index++) {\n            let oldMac = flow.get(\"ncdSensor[\"+index+\"]\")[mac]; \n            if (oldMac == newMac) // already exist\n            {\n                flow.set(\"ncdSensor[\" + index + \"]\", [newMac, sensorType, mode, rssi, date, time]); \n                flag = false;\n            }\n        }\n        if(flag){\n            // is new sensor\n            flow.set(\"ncdSensor[\" + count + \"]\", [newMac, sensorType, mode, rssi, date, time]); \n            count++;\n            flow.set(\"countMac\", count);\n        }\n\n        let inputArray = flow.get(\"ncdSensor\");\n        const outputArray = inputArray.map(item => {\n            return {\n                \"MAC Address\": item[0],\n                \"Type\": item[1],\n                \"Mode\": item[2],\n                \"RSSI\": item[3],\n                \"Date\": item[4],\n                \"Time\": item[5]\n            };\n        });\n        msg = {};\n        msg.payload = outputArray;\n        return msg;\n    }\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":120,"wires":[["f2cb8d2992f8a4e9"]],"icon":"font-awesome/fa-database"},{"id":"c77f9c0d13f24c6b","type":"ui-button","z":"224af552ea650cb9","group":"d2959da35ca25cf6","name":"ncd-clear-button","label":"Clear","order":2,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"[]","payloadType":"json","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","x":350,"y":80,"wires":[["9261c175e6dc9e17"]]},{"id":"af99ebdccf5e5ce4","type":"change","z":"224af552ea650cb9","name":"ncd-date-time","rules":[{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"time","pt":"msg","to":"$moment(date).format(\"HH:mm:ss\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY/MM/DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[["9261c175e6dc9e17"]]},{"id":"d2959da35ca25cf6","type":"ui-group","name":"Sensor list","page":"625fe807f41c2dab","width":"6","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"625fe807f41c2dab","type":"ui-page","name":"NCD UI - Table","ui":"4213de66b4a4de55","path":"/ncd-ui-table","icon":"home","layout":"grid","theme":"cd5fce5c2f030fc2","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"4213de66b4a4de55","type":"ui-base","name":"UI Name","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"cd5fce5c2f030fc2","type":"ui-theme","name":"ncd-theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"eda8fb078be4a133","type":"tab","label":"NCD UI Sensor Monitor","disabled":false,"info":"","env":[]},{"id":"53cfb0ebf8f04168","type":"subflow:224af552ea650cb9","z":"eda8fb078be4a133","name":"","x":400,"y":120,"wires":[]},{"id":"862a7179d5e1d0f5","type":"ncd-gateway-node","z":"eda8fb078be4a133","name":"","connection":"8c3c5917f2a3e4cf","unknown_devices":0,"outputs":1,"x":210,"y":120,"wires":[["53cfb0ebf8f04168"]]},{"id":"8c3c5917f2a3e4cf","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttymxc2","baudRate":"115200","pan_id":"7FFF","rssi":false}]
